{% load static %}
<html>
<head>
<title>My first blog</title>
<link
	rel="stylesheet"
	href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"
>
<link
	rel="stylesheet"
	href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"
>
<link
	rel="stylesheet"
	href="{% static 'css/blog.css' %}"
>
<link
	href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext"
	rel="stylesheet"
	type="text/css"
>
</head>
<body>
	<div class="page-header">
		<h1>
			<a href="/">Blog</a>
		</h1>
	</div>

	<p>{% for post in posts %}</p>

	<div class="post">
		<p>published: {{ post.published_date }}</p>

		<h1>
			<a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a>
		</h1>

		<p>{{ post.text|linebreaksbr }}</p>
	</div>

	<p>{% endfor %}</p>
</body>
</html>
